@{
    ViewBag.Title = "Import";
}

<h2>Importar Arquivo</h2>


@using (Html.BeginForm("Import", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section id="order">
        <hr />
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" type="file" name="file" style="width: 100%" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Importar" class="btn btn-success" style="width: 100%" />
            </div>
        </div>
        <div class="row" style="margin: 15px 0 0 0">
            <div class="col-md-12 @ViewBag.StatusClass" role="alert">
                @ViewBag.StatusMessage
            </div>
        </div>
    </section>
}